## Reading Input data
- Setting Header 0 as no header is present in first row.
- setting encoding as UTF-16 as reading with default UTF-8 lead to time column giving unreadable values.
- Seprating Training columns from Target columns.

In [118]:
from sklearn import *
import numpy as np
import pandas as pd

data = pd.read_csv('23OCT_23NOV_10.193.123.18_final.csv.csv', header=0, encoding='UTF-16')
target = data[['PacketDrop_Current_Value','PacketDrop_Severity']]
trainData = data.drop(columns = ['PacketDrop_Current_Value','PacketDrop_Severity'])

## Analyzing numeric data.
- Finding total number of null values
- As we can see there are only 6 columns having null.
- Only 30 values on average in these columns are null.
- Replacing these values will 0 will damage model prediction

In [157]:
numericdata = trainData._get_numeric_data()

# Getting columns having null values
dataWithNull = numericdata.isnull().sum()>0
nullValues = numericdata[dataWithNull.index[dataWithNull]]

In [163]:
mask=False
for col in nullValues.columns: mask = mask | nullValues[col].isnull()
dfnulls = nullValues[mask]
dfnulls

,UplinkJitter_Current_Value,UplinkJitter_Min_Current_Value,UplinkJitter_Max_Current_Value,UplinkRSSI_Current_Value,UplinkRSSI_Min_Current_Value,UplinkRSSI_Max_Current_Value
766,NaN,NaN,NaN,NaN,NaN,NaN
981,NaN,NaN,NaN,NaN,NaN,NaN
1101,NaN,NaN,NaN,NaN,NaN,NaN
1283,NaN,NaN,NaN,NaN,NaN,NaN
2072,3.0,3.0,3.0,NaN,NaN,NaN
2264,NaN,NaN,NaN,NaN,NaN,NaN
2432,NaN,NaN,NaN,NaN,NaN,NaN
2525,NaN,NaN,NaN,-62.0,-62.0,-62.0
2548,NaN,NaN,NaN,NaN,NaN,NaN
2982,NaN,NaN,NaN,NaN,NaN,NaN
3388,5.0,5.0,5.0,NaN,NaN,NaN
3528,NaN,NaN,NaN,NaN,NaN,NaN
3554,NaN,NaN,NaN,NaN,NaN,NaN
3646,NaN,NaN,NaN,NaN,NaN,NaN
3862,NaN,NaN,NaN,NaN,NaN,NaN
3952,NaN,NaN,NaN,-62.0,-62.0,-62.0
3968,NaN,NaN,NaN,NaN,NaN,NaN
4010,NaN,NaN,NaN,NaN,NaN,NaN
4152,NaN,NaN,NaN,NaN,NaN,NaN
4204,NaN,NaN,NaN,NaN,NaN,NaN
4205,NaN,NaN,NaN,NaN,NaN,NaN
4326,NaN,NaN,NaN,NaN,NaN,NaN
4413,NaN,NaN,NaN,NaN,NaN,NaN
4420,NaN,NaN,NaN,NaN,NaN,NaN
4471,NaN,NaN,NaN,NaN,NaN,NaN
4480,NaN,NaN,NaN,NaN,NaN,NaN
4619,NaN,NaN,NaN,NaN,NaN,NaN
4712,NaN,NaN,NaN,NaN,NaN,NaN
4948,NaN,NaN,NaN,NaN,NaN,NaN
5277,NaN,NaN,NaN,NaN,NaN,NaN
5319,NaN,NaN,NaN,NaN,NaN,NaN
5521,NaN,NaN,NaN,NaN,NaN,NaN
5769,2.0,2.0,2.0,NaN,NaN,NaN

## Describing categorical data to check number of unique entires in each column.
- Dropping time column as it will have more unique values.
- Summing up all the unique values in categorical variable to check number of unique columns which would be added after using one hot encoding.
- Using get_dummies function of pandas to convert categorical string to integers.

In [50]:
categorical = trainData.drop(numericdata.columns, axis=1)
# Dropping time Field
categorical = categorical.drop(columns=['Time'])
print("Number of unique categorical values",categorical.describe()[1:2].sum(axis=1))
print(pd.get_dummies(data[categorical.columns]).shape)

# Processed categorical data.
categorical = pd.get_dummies(data[categorical.columns])

Number of unique categorical values unique    29.0
dtype: float64
(6559, 29)